@import url('https://fonts.googleapis.com/css2?family=Unica+One&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #f5f5f5;
    font-family: Vollkorn;
    font-size: 18px;
    color: #807f7e;
    margin: auto;
    padding: 1.4rem;
    letter-spacing: .06rem;
    word-spacing: 0.1rem;
    line-height: 1.6;
    max-width: 38rem;
}

header {
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}

nav {
    padding: 2px;
}

nav a {
    color: #d1663f;
    text-decoration: none;
    line-height: 30px;
}

h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: 'Unica One', cursive;
    color: #d1663f;
    font-size: 50px;
    margin-bottom: 30px;
    line-height: 45px;
    text-align: left;
}

h2 {
    padding-top: 5px;
    padding-bottom: 0px;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0px;
    line-height: 45px;
    text-align: left;
}

h3 {
    padding-top: 15px;
    margin: 0px;
    font-size: 18px;
}

li a {
    text-decoration: none;
    list-style-type: none;
    color: #807f7e;
}

li a:hover {
    color:#d1663f;
}


